<div class="row">
  <div class="col-md-8">
      <h1>List: <%= @list.title %></h1>
      <h3>Description: <%= @list.description %></h3>
      <%= link_to "Edit List", edit_list_path(:list_id), class: 'btn btn-success' %>
      <% if policy(@list).destroy? %>
        <%= link_to "Delete List", @list, method: :delete, class: 'btn btn-danger' %>
      <% end %>
          <p>
            <% unless @list.items.nil? %>
              <br />
               
                <div class='js-items'>
                    Current tasks: <%= render partial: 'items/item', collection: @items %>
                
                    Tasks about to expire: <%#= render partial: 'items/urgent', collection: @items %>
                    <br />
                </div> 
            <% end %> 
                  <br />
                <div class='new-item'>
                   <%= render partial: 'items/form', locals: { list: @list } %>
                </div>
          </p>
  </div>
</div>

