      <h1>List: <%= @list.title %></h1>
       <%#= @list.description %>
      <%= link_to "Edit List", edit_list_path(:list_id), class: 'btn btn-success' %>
      <% if policy(@list).destroy? %>
        <%= link_to "Delete List", @list, method: :delete, class: 'btn btn-danger' %>
      <% end %>
          <p>
            <% unless @list.items.nil? %>
              <br />
               <div class='row'>
               <div class='col-md-8'>
                
                    Current tasks:
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                  Sort by
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown">
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Newest First</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Oldest First</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Title</a></li>
                </ul>
              </div>
                <div class='js-items'>
                     <%= render partial: 'items/item', collection: @items %>
                  </div>
                  
            <% end %> 
                  <br />
                <div class='new-item'>
                   <%= render partial: 'items/form', locals: { list: @list } %>
                </div>
                
                  </div> 
                </div>
          </p>


