<h1>Edit List</h1>

  <div class="row no-margin">
    <div class="col-md-8 no-padding">
      <% if @list.nil? %>
        <%= link_to new_list_path %>
      <% else %>
        <%= form_for @list do |t| %>
          <div class="form-group">
            <%= t.label :title %>
            <%= t.text_field :title, class: 'form-control', placeholder: "New list name" %>
          </div>
            <%= t.submit "Save", class: 'btn btn-success' %>
        <% end %>
      <% end %>
    </div>
  </div>
